#window {
  font-size: 18px;
  font-family: "SF Pro";
  background-color: rgba(0, 0, 0, 0.3);
}

#input {
  font-size: 25px;
  padding: 12px 10px;
}

#entry {
  padding: 0.50em;

}

#entry:selected {
  background: linear-gradient(90deg, #FFFFFF, #A2A7BD);
  color: #000000;
}

#text {
  margin-left: 12px;
}
